[data-md-color-scheme="slate"] {
    /* Primary color shades */
    --md-primary-fg-color: #331D2C;
    --md-primary-fg-color--light: #3F2E3E;
    --md-primary-fg-color--dark: #A78295;
    --md-primary-bg-color: #5285ac;
    --md-primary-bg-color--light: rgb(239, 225, 209);

    /* Accent color shades */
    --md-typeset-a-color: #3e8cc8;
    --md-accent-fg-color: #62b8fb;
    --md-accent-fg-color--transparent: rgba(51, 29, 44, 0.1);
    --md-accent-bg-color: rgba(51, 29, 44, 1);
    --md-accent-bg-color--light: rgba(51, 29, 44, 0.7);
}
